.AuthData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 7px;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .ContactData {
    width: 500px;
  }
}
/* GREEN */
.OrderButton {
  /* position: relative; */
  background-color: #5c9210;
  outline: none;
  cursor: pointer;
  border: 1px solid lightGreen;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px lightGreen;
  border-radius: 5px;
  /* float: right; */
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #fff;
  border: 1px solid lightGreen;
  color: #5c9210;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}
/* hotPink but now Generic */
.OrderButtonRed {
  position: relative;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  /* border: 1px solid #bf8853; */
  border: 1px solid transparent;

  color: #888888;
  left: 20px;
  /* top: -20px; */
  /* right: 90px; */
  font-family: inherit;
  font-size: 1.2em;
  padding: 5px 12px;
  /* box-shadow: 2px 2px 2px #bf8853; */
  /* border-radius: 5px; */
  /* float: right; */
}

.OrderButtonRed:hover,
.OrderButtonRed:active {
  /* background-color: #703b09; */
  /* border: 1px solid #844000; */
  border: 1px solid transparent;
  color: #844000;
}

.OrderButtonRed:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButtonRed:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
